body {
    width: 100%;
    max-width: 320px;
    max-width: 750px;
    height: 56.25rem;
    margin: 0 auto;
    /* background-color: beige; */
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    /* 字体14px */
    font-size: .75rem;
    line-height: 1.5;
}
.bt {
    color: black;
}
p {
    color: gray;
}
li {
    list-style: none;
}
h4 {
    text-align: center;
    margin-top: .625rem;
    margin-bottom: .125rem;
}
.time {
    font-size: .5rem;
    padding-right: .3125rem;
    text-align: right;
}
/* 项目介绍 */
.project_description {
    width: 100%;
    padding: 5px 5px 5px 5px;
    /* background-color: cadetblue; */
}
.project_description .JS {
    margin: 5px 0 0 0;
}
.project_des {
    width: 100%;
}
.project_des p,
.step p,
.conclusion {
    /* 9px */
    font-size: .5625rem; 
    margin: 8px 0 8px 0;
}
/* 项目执行 */
.project_execute {
    width: 100%;
    padding: 5px 5px 5px 5px;
    /* background-color: pink; */
}
.first2day {
    margin: 4px 0 2px 0;
}
.first2day .shieldside1 {
    float: left;
    width: 49%;
    height: 12rem;
    margin-right: 1px;
    background: url(../image/label1\ \(1\).JPG) no-repeat;
    background-size:cover;
}
.first2day .shieldside2 {
    float: left;
    width: 49%;
    height: 12rem;
    margin-left: 1px;
    background: url(../image/label1\ \(2\).JPG) no-repeat;
    background-size: cover;
}
.hubside {
    width: 300px;
    height: 8rem;
    margin: 0 auto;
    background: url(../image/label2.JPG) no-repeat;
    background-size: cover;
}
.CS {
    display: inline-block;
}
.MP {
    margin: 0 4rem;
}
/* 项目总结 */
.project_conclusion {
    width: 100%;
    padding: 5px 5px 5px 5px;
    /* background-color: grey; */
}
/* 结尾 */
footer p {
    text-align: right;
    margin-right: .625rem;
    font-size: .5rem;
    font-family: 'yahei';
    background-color: rgb(248, 237, 237);
}